name: 09 - Functions

on:
  pull_request:
  workflow_dispatch:

jobs:
  echo1:
    runs-on: ubuntu-latest
    steps:
      - name: Print PR title
        run: echo "${{github.event.pull_request.title}}"
      - name: Print PR labels
        run: |
          cat  << EOF
          ${{toJSON(github.event.pull_request.labels)}}
          EOF
      - name: Bug step
        if: ${{!cancelled() && contains(github.event.pull_request.title, 'fix')}}
        run: echo "This is a bug fix"
      - name: Sleep for 5 seconds
        run: sleep 5
      - name: Failing step
        run: exit 1
      - name: Skipped step
        if: ${{success()}}
        run: echo "Previous step(s) succeeded"
      - name: Executed step
        if: ${{failure()}}
        run: echo "Previous step(s) failed"
      - name: Executed step unless workflow is cancelled
        if: ${{!cancelled()}}
        run: echo "Workflow was not cancelled"
      - name: Executed step if workflow is cancelled
        if: ${{cancelled()}}
        run: echo "Workflow was cancelled"
