name: 14 - Artifacts

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 14-artifacts/react-app
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"
      - name: Download cached dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: 14-artifacts/react-app/node_modules
          key: deps-cache-key-${{ hashFiles('14-artifacts/react-app/package-lock.json') }}
      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Test
        run: npm test -- --coverage
      - name: Upload test coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: 14-artifacts/react-app/coverage
      - name: Build
        run: npm run build
      - name: Upload build files
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: 14-artifacts/react-app/build
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download test coverage report
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: coverage
      - name: Show test coverage folderstructure
        run: ls -R
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: app
          path: build
      - name: Show build folder structure
        run: ls -R
