name: 16 - Environments

on:
  workflow_dispatch:

jobs:
  deploy-staging:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Deploy to staging
        run: |
          echo "Deploying to staging"
  e2e-test:
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: End to end test
        run: |
          echo "Running end to end tests in staging"
  deploy-prod:
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Deploy to prod
        run: |
          echo "Deploying to prod"
