name: 17 - 2- Custom Actions - JavaScript
run-name: 17 - 2 - Custom Actions - JavaScript

on:
  workflow_dispatch:
    inputs:
      base-branch:
        type: string
        default: main
      target-branch:
        type: string
        default: update-dependencies
      working-directory:
        type: string
        default: 17-custom-actions/react-app

permissions:
  contents: write
  pull-requests: write

jobs:
  dependency-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check for dependency updates
        uses: ./.github/actions/js-dependency-update
        with:
          base-branch: ${{ inputs.base-branch }}
          target-branch: ${{ inputs.target-branch }}
          working-directory: ${{ inputs.working-directory }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          debug: "true"
